.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log

db/shortly.sqlite
node_modules


# Icon must ends with two \r.
Icon

# keys
digi-ocn-id_rsa
digi-ocn-id_rsa.pub

# git
.gitignore

# Floobits
.floo
.floobit
.floo
.flooignore
